/* body {
  background-color: DimGray;
  color: aliceblue;
}


.flex-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  margin: 20px;
}

.navigator {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin: auto;
}

.nav-items a {
  font-size: 19px;
  color: aliceblue;
  text-decoration: none;
}

.nav-items li {
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  margin-left: 10px;
  text-align: center;
}

h2 {
  margin-left: 10px;
  text-align: center;
}

.btn {
  display: flex;
  text-align: center;
}

.txt {
  display: block;
 padding: 20px;
}

/*body .ligth{
  background-color: LightGray;
  color: black;
}

.light {
  background-color: lightgrey;
  color: black;
}

.light-others {
  background-color: Silver;
  color: black;
}
 */

body {
  background-color: rgb(199, 199, 199);
}


 .flex-container {
  display: flex;
  background-color: silver;
  padding: 20px;
  border-radius: 15px;
  justify-content: space-between;
}

.flex-title {
  padding-left: 40px;
}

.navigator {
  display: flex;
  align-items: center;
  padding-right: 40px;
 }

 ul {
  display: flex;
  gap: 10px;
 }

 .nav-item a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
 }

 .nav-item {
  display: flex;
  text-decoration: none;
 }

 section h3{
  display: flex;
  justify-content: center;
 }

 section {
  padding: 30px;
  background-color: silver;
  margin-top: 100px;
  border-radius: 20px;
 }

 .sec-text {
  font-size: 20px;
  font-weight: 100;
 }

 .teclas {
  display: flex;
  justify-content: center;
  flex-direction: row;
 }