@media(min-width: 768px) {
  .navbar .navbar-expand-lg .navbar-dark {
    width: 100%;
  }
}

body {
  background-color: #283747;
}

.titulo-1 {
  text-align: center;
}

.textos {
  text-align: center;
  padding-top: 15px;
  border-radius: 6px;
  border: 1px;
  border-style: solid;
}

.navbar {
  background-color: #283747;
}

.borda {
  border-radius: 7px;
}

#page-title {
  font-size: 16px;
  font-family: 'Quicksand';
  margin-left: 460px;
}

/* CORES DA F1 */

.laranja {
  color: #ff6b1c;
}

.alfa1 {
  color: #fc8080;

}

.HAAS {
  color: #e14035;
}

.alpine {
  color: #03229e;
}

.rbr {
  color: #02145c;
}

.aston {
  color: #168f0b;
}

.ferrari {
  color: #ff0000;
}

.williams {
  color: #00197c;
}

.tamanho-tabela {
  width: 50%;
}

.bg-fotos {
  background-color: rgb(224, 224, 224);

}

.col-lg-4 {
  padding-bottom: 15px;

};

